In [1]:
import pandas as pd

In [2]:
tracts=[]

Load New Merged Data

In [28]:
import os

directory = "C:\\Users\\nairk\\census-by-precincts\\info\\Post_Rows_Merged\\WY_Merged"
for file in os.listdir(directory):
    path = os.path.join(directory, file)
    if os.path.isfile(path):
        row=pd.read_csv(path)
        tracts.append(row)
    else:
        print("NO FILE")

Load Old Merged Data if it exists

In [186]:
precombined=pd.read_csv("C:\\Users\\nairk\\census-by-precincts\\info\\Combined_Tracts2\\Tract_Input_Redone8.csv")

In [187]:
precombined

,Aeroway_1,Amenity-Substance_1,Amenity-Education_1,Amenity-Transportation_1,Amenity-Financial_1,Amenity-Healthcare_1,"Amenity-Entertainment, Arts, Culture_1",Amenity-Public Service_1,Amenity-Facility_1,Amenity-Waste Management_1,...,Occupied_Housing,Vacant_Housing,One_Housing,Two_Housing,Three_Housing,Four_Housing,Five_Housing,Six_Housing,Seven_Plus_Housing,Target
0,12,1,0,83,0,0,0,4,76,0,...,3191,1206,416,2092,347,202,77,38,19,0.777963
1,0,0,0,1,0,0,0,0,0,0,...,1507,241,223,758,210,199,74,28,15,1.000000
2,0,0,0,1,0,0,1,1,0,0,...,1934,665,392,1254,102,52,46,34,54,0.721806
3,0,4,0,4,2,0,0,0,5,0,...,1884,120,300,696,325,331,142,48,42,0.534977
4,0,1,1,15,2,0,0,0,1,0,...,2239,428,635,799,333,252,137,52,31,0.447378
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24941,0,1,0,6,0,0,0,1,0,0,...,3077,589,721,1062,461,401,232,122,78,0.450535
24942,0,1,1,43,2,0,1,0,0,0,...,3393,217,805,1079,597,499,214,106,93,0.542037
24943,0,0,1,6,0,1,0,0,0,0,...,3644,341,956,1134,603,457,246,142,106,0.432222
24944,0,2,4,10,1,0,0,1,0,0,...,4371,534,1208,1496,701,518,254,106,88,0.454958
24945,17,0,3,43,0,0,0,0,0,0,...,3035,1057,650,843,564,512,242,139,85,0.858194

In [188]:
tracts.append(precombined)

Merge Tracts

In [29]:
combined=pd.concat(tracts,ignore_index=True)

Drop unnecessary columns if they exist

In [32]:
combined=combined.drop(columns=["Unnamed: 0_1","Unnamed: 0_2"])

In [33]:
for i in combined.columns:
    print(i)

Aeroway_1
Amenity-Substance_1
Amenity-Education_1
Amenity-Transportation_1
Amenity-Financial_1
Amenity-Healthcare_1
Amenity-Entertainment, Arts, Culture_1
Amenity-Public Service_1
Amenity-Facility_1
Amenity-Waste Management_1
Amenity-Other_1
Barrier-Linear_1
Barrier-Highway Access Control_1
Barrier-undefined_1
Barrier-Other_1
Building-Accomodation_1
Building-Commercial_1
Building-Religious_1
Building-Civic/amenity_1
Building-Agricultural_1
Building-Sports_1
Building-Storage_1
Building-Cars_1
Building-Power_1
Building-Other_1
Building-Total_1
Craft_1
Geological_1
Historic_1
Landuse-Developed_1
Landuse-Rural_1
Landuse-Waterbody_1
Landuse-Other_1
Leisure_1
Man_Made_1
Military_1
Natural-Vegetation_1
Natural-Geology_1
Office_1
Place-Urban_1
Place-Rural_1
Shop-Food_1
Shop-General_1
Shop-Clothing_1
Shop-Discount_1
Shop-Health_1
Shop-D.I.Y._1
Shop-Furniture_1
Shop-Electronics_1
Shop-Outdoors_1
Shop-Hobbies_1
Shop-Gifts_1
Shop-Other_1
Sport_1
Tourism_1
Motorway_1
Trunk_1
Primary_1
Secondary_1
Tertiary_1
Unclassified Highway_1
Residential Highway_1
Special Roads_1
Unknown Roads_1
Paths_1
Waterway-Natural_1
Waterway-Man Made_1
Waterway-Facilities_1
Waterway-Barriers_1
Waterway-Other_1
Aerialway_1
Railway_Tracks_1
Total_Building_Area_1
Total_Height_1
Total_Square_Footage_1
Null_Heights_Proportion_1
Prob_0_1
Prob_1_1
Prob_2_1
Prob_3_1
Prob_4_1
Prob_5_1
Prob_6_1
Prob_7_1
Prob_8_1
Prob_9_1
Aeroway_2
Amenity-Substance_2
Amenity-Education_2
Amenity-Transportation_2
Amenity-Financial_2
Amenity-Healthcare_2
Amenity-Entertainment, Arts, Culture_2
Amenity-Public Service_2
Amenity-Facility_2
Amenity-Waste Management_2
Amenity-Other_2
Barrier-Linear_2
Barrier-Highway Access Control_2
Barrier-undefined_2
Barrier-Other_2
Building-Accomodation_2
Building-Commercial_2
Building-Religious_2
Building-Civic/amenity_2
Building-Agricultural_2
Building-Sports_2
Building-Storage_2
Building-Cars_2
Building-Power_2
Building-Other_2
Building-Total_2
Craft_2
Geological_2
Historic_2
Landuse-Developed_2
Landuse-Rural_2
Landuse-Waterbody_2
Landuse-Other_2
Leisure_2
Man_Made_2
Military_2
Natural-Vegetation_2
Natural-Geology_2
Office_2
Place-Urban_2
Place-Rural_2
Shop-Food_2
Shop-General_2
Shop-Clothing_2
Shop-Discount_2
Shop-Health_2
Shop-D.I.Y._2
Shop-Furniture_2
Shop-Electronics_2
Shop-Outdoors_2
Shop-Hobbies_2
Shop-Gifts_2
Shop-Other_2
Sport_2
Tourism_2
Motorway_2
Trunk_2
Primary_2
Secondary_2
Tertiary_2
Unclassified Highway_2
Residential Highway_2
Special Roads_2
Unknown Roads_2
Paths_2
Waterway-Natural_2
Waterway-Man Made_2
Waterway-Facilities_2
Waterway-Barriers_2
Waterway-Other_2
Aerialway_2
Railway_Tracks_2
Total_Building_Area_2
Total_Height_2
Total_Square_Footage_2
Null_Heights_Proportion_2
Prob_0_2
Prob_1_2
Prob_2_2
Prob_3_2
Prob_4_2
Prob_5_2
Prob_6_2
Prob_7_2
Prob_8_2
Prob_9_2
Total_Area
Target_Area_Ratio
Total_Pop
Combined_Name
Urban
Rural
Occupied_Housing
Vacant_Housing
One_Housing
Two_Housing
Three_Housing
Four_Housing
Five_Housing
Six_Housing
Seven_Plus_Housing
Target
Null_Building_Heights_1
Null_Building_Heights_2

In [34]:
len(combined.columns)

190

In [35]:
combined.columns

Index(['Aeroway_1', 'Amenity-Substance_1', 'Amenity-Education_1',
       'Amenity-Transportation_1', 'Amenity-Financial_1',
       'Amenity-Healthcare_1', 'Amenity-Entertainment, Arts, Culture_1',
       'Amenity-Public Service_1', 'Amenity-Facility_1',
       'Amenity-Waste Management_1',
       ...
       'One_Housing', 'Two_Housing', 'Three_Housing', 'Four_Housing',
       'Five_Housing', 'Six_Housing', 'Seven_Plus_Housing', 'Target',
       'Null_Building_Heights_1', 'Null_Building_Heights_2'],
      dtype='object', length=190)

In [36]:
len(combined)

30992

In [194]:
precombined

,Aeroway_1,Amenity-Substance_1,Amenity-Education_1,Amenity-Transportation_1,Amenity-Financial_1,Amenity-Healthcare_1,"Amenity-Entertainment, Arts, Culture_1",Amenity-Public Service_1,Amenity-Facility_1,Amenity-Waste Management_1,...,Occupied_Housing,Vacant_Housing,One_Housing,Two_Housing,Three_Housing,Four_Housing,Five_Housing,Six_Housing,Seven_Plus_Housing,Target
0,12,1,0,83,0,0,0,4,76,0,...,3191,1206,416,2092,347,202,77,38,19,0.777963
1,0,0,0,1,0,0,0,0,0,0,...,1507,241,223,758,210,199,74,28,15,1.000000
2,0,0,0,1,0,0,1,1,0,0,...,1934,665,392,1254,102,52,46,34,54,0.721806
3,0,4,0,4,2,0,0,0,5,0,...,1884,120,300,696,325,331,142,48,42,0.534977
4,0,1,1,15,2,0,0,0,1,0,...,2239,428,635,799,333,252,137,52,31,0.447378
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24941,0,1,0,6,0,0,0,1,0,0,...,3077,589,721,1062,461,401,232,122,78,0.450535
24942,0,1,1,43,2,0,1,0,0,0,...,3393,217,805,1079,597,499,214,106,93,0.542037
24943,0,0,1,6,0,1,0,0,0,0,...,3644,341,956,1134,603,457,246,142,106,0.432222
24944,0,2,4,10,1,0,0,1,0,0,...,4371,534,1208,1496,701,518,254,106,88,0.454958
24945,17,0,3,43,0,0,0,0,0,0,...,3035,1057,650,843,564,512,242,139,85,0.858194

In [37]:
combined

,Aeroway_1,Amenity-Substance_1,Amenity-Education_1,Amenity-Transportation_1,Amenity-Financial_1,Amenity-Healthcare_1,"Amenity-Entertainment, Arts, Culture_1",Amenity-Public Service_1,Amenity-Facility_1,Amenity-Waste Management_1,...,One_Housing,Two_Housing,Three_Housing,Four_Housing,Five_Housing,Six_Housing,Seven_Plus_Housing,Target,Null_Building_Heights_1,Null_Building_Heights_2
0,1,0,1,50,0,1,1,1,0,0,...,1361,964,463,309,133,57,19,0.498787,NaN,NaN
1,0,0,0,0,0,0,0,2,0,0,...,320,293,136,118,43,27,20,0.424845,NaN,NaN
2,0,1,1,1,0,1,0,2,0,0,...,1062,1277,623,467,254,94,93,0.412303,NaN,NaN
3,0,0,2,40,0,0,0,1,0,0,...,509,425,263,175,88,42,14,0.317253,NaN,NaN
4,0,1,1,13,0,0,0,0,0,0,...,1713,1183,537,311,149,77,41,0.553606,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30987,2,0,0,16,0,1,1,0,3,0,...,716,841,353,256,150,62,45,0.448760,NaN,NaN
30988,0,0,3,40,1,1,0,0,0,0,...,816,965,404,403,179,129,54,0.641374,NaN,NaN
30989,5,0,0,200,0,0,0,1,0,0,...,872,1442,495,432,244,187,117,0.380226,NaN,NaN
30990,16,0,0,54,0,0,0,1,3,0,...,768,1305,388,333,156,85,53,0.599624,NaN,NaN
30991,3,0,0,35,0,0,0,0,1,0,...,521,701,226,214,135,61,54,0.361461,NaN,NaN

Store Merged tracts

In [38]:
combined.to_csv("C:\\Users\\nairk\\census-by-precincts\\info\\Combined_Tracts3\\Tract_Input_MS.csv",index=False)